/* font face */
@font-face {
  font-family: "MonumentExtended Regular";
  src: url(../public/font/MonumentExtended-Regular.woff2) format("woff2"), url(../public/font/MonumentExtended-Regular.woff2) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "MonumentExtended UltraBold";
  src: url(../public/font/MonumentExtended-UltraBold.woff2) format("woff2"), url(../public/font/MonumentExtended-UltraBold.woff2) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Swiss";
  src: url(../public/font/Swiss-721-BT-Regular.woff2) format("woff2"), url(../public/font/Swiss-721-BT-Regular.woff2) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U + 000-5FF
}

* {
  margin: 0px;
}

/* background */
body {
  background:url("../public/img/background.png");
  background-size: contain;
}

/* all links */
a {
  color: #0B4619;
  text-decoration: none;
}

.link:hover,
#nav-link:hover {
  text-decoration: underline dashed !important;
  -webkit-text-decoration-line: underline !important;
  -webkit-text-decoration-style: dashed !important;
  cursor: pointer !important;
}

/* header */

.header-container {
  margin: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'MonumentExtended UltraBold', Arial, sans-serif;
  font-size: 25px;
  height: 17vh;
}

@media only screen and (max-width: 600px) {
  #logo {
    font-size: 8px;
  }
  .header-container {
    font-size: 8px;
  }
  .contact-container {
    height: 35vh !important;
  }
  .about-container {
    height: 40vh !important;
  }
  .footer-container {
    height: 2vh !important;
  }
  .intro-container {
    height: 35vh !important;
    font-size: 5.3vw !important;
  }
  .tech-stack {
    margin-right: 20vw !important;
    margin-bottom: 10vh !important;
  }
  .tech-12:before {
    font-size: 3vw !important;
  }
  .tech-11:before {
    font-size: 2.5vw !important;
  }
  .tech-10:before {
    font-size: 2.5vw !important;
  }
  .tech-4:before {
    font-size: 2.3vw !important;
  }
  .tech-3:before {
    font-size: 2.5vw !important;
  }
  .tech-1:before {
    font-size: 2.5vw !important;
  }
  .nav-container {
    padding-right: 20px !important;
  }

  .tech-stack-item {
    font-size: 4vw !important;
  }
}


#logo {
  font-family: "Swiss", serif;
}

.nav-parent {
  position: fixed;
  width: 100%;
  top: 5;
  z-index: 1;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Swiss", serif;
  float: right;
  padding-right: 25px;
}

/* intro statement on home page */
.intro-container {
  height: 83.6vh;
  margin-left: 3vw;
  margin-right: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'MonumentExtended UltraBold', Arial, sans-serif;
  color: #0B4619;
  font-weight: 800;
  font-size: 5vw;
  line-height: 1.1em;
}

/* ABOUT PAGE */
.about-container {
  display: flex;
  flex-direction: row;
  height: 108vh;
}

.about-banner-container {
  margin-left: 10px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  border-right: 0.69vw solid #0B4619;
}

.about-banner-text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-family: 'MonumentExtended UltraBold', Arial, sans-serif;
  color: #0B4619;
  font-weight: 800;
  font-size: 10vw;
  line-height: 7.63vw;
  text-align: center;
}

.about-me {
  margin: 5vw;
  margin-right:15vw;
  flex-grow: 5;
  align-self: center;
  font-family: 'MonumentExtended Regular', Arial, sans-serif;
  color: #0B4619;
  font-size: 2.5vw;
  text-transform: uppercase;
}

/* tech stack */
.tech-stack {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(5, 20%);
  grid-gap: 1vw;
  margin: 3vw;
  margin-left: 14vw;
  margin-right: 15.5vw;
  height: 130vh;
  margin-bottom: 30vh;
}

.tech-stack-item {
  text-align: center;
  font-family: 'MonumentExtended UltraBold', Arial, sans-serif;
  color: #0B4619;
  padding: 5vw;
  margin: 0.347vw;
  font-size: 2.5vw;
  border: 0.28vw solid black;
  opacity: 0.8;
}

.project-container {
  display: flex;
  flex-direction: column;
  margin-top: 6.25vw !important;
}

.project-banner-container {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-family: 'MonumentExtended UltraBold', Arial, sans-serif;
  color: #0B4619;
  font-weight: 800;
  font-size: 10vw;
  line-height: 7.64vw;
  border-bottom: 0.69vw solid #0B4619;
}

.project-banner-text-1 {
  align-self: flex-start;
}

.project-banner-text-2 {
  align-self: flex-end;
}

.project-item {
  display: flex;
  align-items: center;
}

.project-picture {
  width: 53.125vw;
  height: 29.51388888888889vw;
  margin: 3.4722222222222223vw;
  transition: all .2s ease-in-out;
  border: 0.347vw solid black;
}

.project-picture:hover {
  transform: scale(1.1);
}

.project-description {
  font-family: 'MonumentExtended UltraBold', Arial, sans-serif;
  font-size: 3.125vw;
  color: black;
  margin: 3.4722222222222223vw;
  text-align: center;
}

.blog-item-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 2.0833333333333335vw;
  margin-left: 6.944444444444445vw;
  margin-right: 7.638888888888889vw;
  color: black;
  margin-top: 2.7777777777777777vw;
}

.blog-item {
  padding: 1.3888888888888888vw;
  margin: 0.6944444444444444vw;
}

.blog-title {
  font-family: 'MonumentExtended UltraBold', Arial, sans-serif;
  font-size: 2.0833333333333335vw;
  text-transform: uppercase;
  text-align: center;
  margin: 0.6944444444444444vw;
}

.blog-content {
  font-family: "Swiss", serif;
  font-size: 2.0833333333333335vw;
  margin: 1.3888888888888888vw;
}

/* Sweep To Top */
.sweep-to-top {
  color: black;
  opacity: 1;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.tech-1:before {
  font-family: 'MonumentExtended Regular', Arial, sans-serif;
  text-align: center;
  padding: 5px;
  font-size: 1.5vw;
  color: rgb(243, 239, 182);
  content: "Proficient with JS (ES6+), DOM, Event Handling, Object-Oriented Programming, JS data structures and various frameworks";
}

.tech-3:before {
  font-family: 'MonumentExtended Regular', Arial, sans-serif;
  text-align: center;
  padding: 5px;
  font-size: 1.5vw;
  color: rgb(243, 239, 182);
  content: "Currently exploring three.js to incorporate 2D and 3D animations into webpages. Proficient in object creation, transformation and animation.";
}

.tech-4:before {
  font-family: 'MonumentExtended Regular', Arial, sans-serif;
  text-align: center;
  padding: 5px;
  font-size: 1.3vw;
  color: rgb(243, 239, 182);
  content: "Proficient in Python 3. Familiar with Flask, Regex and Web Scraping. Have experience with various Python Libraries--pandas, matplotlib, numpy and others.";
}

.tech-10:before {
  font-family: 'MonumentExtended Regular', Arial, sans-serif;
  text-align: center;
  padding: 5px;
  font-size: 1.3vw;
  color: rgb(243, 239, 182);
  content: "Familiar with the bash environment. Can write basic shell scripts to manipulate files and automate tasks. Comfortable working in terminal.";
}

.tech-11:before {
  font-family: 'MonumentExtended Regular', Arial, sans-serif;
  text-align: center;
  padding: 5px;
  font-size: 1.4vw;
  color: rgb(243, 239, 182);
  content: "Working knowledge of Git and GitHub. Familiar with git basics, version control system on local machine, git branching, and working with remote repositories.";
}

.tech-12:before {
  font-family: 'MonumentExtended Regular', Arial, sans-serif;
  text-align: center;
  padding: 5px;
  font-size: 1.6vw;
  color: rgb(243, 239, 182);
  content: "Working knowledge of Figma. Have experience creating site map, wire frames, and prototypes on Figma. ";
}

.sweep-to-top:hover,
.sweep-to-top:focus,
.sweep-to-top:active {
  color: white;
}

.sweep-to-top:hover span {
  display: none;
}

.sweep-to-top:hover:before,
.sweep-to-top:focus:before,
.sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.contact-container {
  height: 93.15589353612167vh;
}

.link-container {
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  font-family: "Swiss", serif;
  font-size: 4.444444444444445vw;
  line-height: 5.277777777777778vw;
  color: #0B4619;
  text-transform: uppercase;
  justify-content: space-evenly;
  margin-left: 1.7361111111111112vw;
}

.footer-container {
  background: #0B4619;
  height: 6.97084917617237vh;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Swiss", serif;
  color: #FFFFFF;
  font-size: 1.6666666666666667vw;
  text-transform: uppercase;
}

.design-by {
  margin-left: 1.7361111111111112vw;
}

.copyright {
  margin-right: 1.7361111111111112vw;
}