/* font face */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@font-face {
  font-family: "MonumentExtended Regular";
  src: url(../public/font/MonumentExtended-Regular.woff2) format("woff2"), url(../public/font/MonumentExtended-Regular.woff2) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "MonumentExtended UltraBold";
  src: url(../public/font/MonumentExtended-UltraBold.woff2) format("woff2"), url(../public/font/MonumentExtended-UltraBold.woff2) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Swiss";
  src: url(../public/font/Swiss-721-BT-Regular.woff2) format("woff2"), url(../public/font/Swiss-721-BT-Regular.woff2) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U + 000-5FF
}

/* reset */
.reset-this {
  animation: none;
  animation-delay: 0;
  animation-direction: normal;
  animation-duration: 0;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-name: none;
  animation-play-state: running;
  animation-timing-function: ease;
  backface-visibility: visible;
  background: 0;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: repeat;
  background-size: auto auto;
  border: 0;
  border-style: none;
  border-width: medium;
  border-color: inherit;
  border-bottom: 0;
  border-bottom-color: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-collapse: separate;
  border-image: none;
  border-left: 0;
  border-left-color: inherit;
  border-left-style: none;
  border-left-width: medium;
  border-radius: 0;
  border-right: 0;
  border-right-color: inherit;
  border-right-style: none;
  border-right-width: medium;
  border-spacing: 0;
  border-top: 0;
  border-top-color: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-top-width: medium;
  bottom: auto;
  box-shadow: none;
  box-sizing: content-box;
  caption-side: top;
  clear: none;
  clip: auto;
  color: inherit;
  columns: auto;
  column-count: auto;
  column-fill: balance;
  column-gap: normal;
  column-rule: medium none currentColor;
  column-rule-color: currentColor;
  column-rule-style: none;
  column-rule-width: none;
  column-span: 1;
  column-width: auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  cursor: auto;
  direction: ltr;
  display: inline;
  empty-cells: show;
  float: none;
  font: normal;
  font-family: inherit;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: auto;
  hyphens: none;
  left: auto;
  letter-spacing: normal;
  line-height: normal;
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
  margin: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  orphans: 0;
  outline: 0;
  outline-color: invert;
  outline-style: none;
  outline-width: medium;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  perspective: none;
  perspective-origin: 50% 50%;
  position: static;
  right: auto;
  tab-size: 8;
  table-layout: auto;
  text-align: inherit;
  text-align-last: auto;
  text-decoration: none;
  text-decoration-color: inherit;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: auto;
  transform: none;
  transform-style: flat;
  transition: none;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: none;
  transition-timing-function: ease;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  widows: 0;
  width: auto;
  word-spacing: normal;
  z-index: auto;
}

/* styling */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  box-sizing: border-box;
}

/* background */
body {
  background: url("../public/img/background.png");
}

/* navbar */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1.5vw;
}

.logo-text {
  font-family: 'Staatliches', cursive;
  color: #0B4619;
  font-size: 3em;
}

.nav-link-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 90vw;
}

.nav-link-container a {
  text-decoration: none;
  color: #0B4619;
  font-family: 'MonumentExtended', Arial, sans-serif;
  font-size: 1.5em;
}

.nav-link-container a:hover {
  text-decoration: underline dashed;
}

.logo-links {
  display: flex;
  flex-direction: column;
  font-family: 'Staatliches', cursive;
  font-size: 2em;
}

.logo-links a {
  text-decoration: none;
  color: black;
}

.logo-links a:hover {
  color: #0B4619;
  transform: scale(1.02);
}

/* Home page */
.intro-container {
  height: 75vh;
  margin-left: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'MonumentExtended UltraBold', Arial, sans-serif;
  color: #0B4619;
  font-weight: 800;
  font-size: 5rem;
  line-height: 1.1em;
}

/* About me */
.about-text {
  font-family: 'Staatliches', cursive;
  font-size: 2.5rem;
  margin: 10vh 5vw 10vh 5vw;
  color: #0B4619;
}

.about-text a,
.red-text {
  text-decoration: none;
  color: #C44536;
}

/* tech stack */
.accordion {
  width: 70%;
  margin: auto;
  padding: 5vh 0 15vh 0;
}

.accordion-title {
  font-family: 'Staatliches', cursive !important;
  font-size: 2em !important;
  color: #0B4619;
}

.expanded-icon {
  font-family: 'MonumentExtended UltraBold', Arial, sans-serif;
  font-size: 1.5em !important;
  color: black !important;
}

.accordion-item {
  min-height: 15vh !important;
  border-top: 2px solid black !important;
}

.accordion-item-description {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-item-text {
  width: 45vw;
  font-family: "Swiss", serif !important;
  font-weight: 600 !important;
  font-size: 1.2em !important;
  padding: 0 0 5vh 0 !important;
}

/* projects */
.project-container {
  padding: 10vh 0 10vh 0;
  margin-right: 11vw;
}

.project-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 0 30vh 0;
}

.project-item-container a {
  text-decoration: underline;
  color: black;
}

.project-tech {
  text-align: right;
  font-family: 'Staatliches', cursive;
  font-size: 1.7em;
  color: #4f5b66;
}

.project-description {
  text-align: right;
}

.project-text {
  font-family: 'MonumentExtended UltraBold', Arial, sans-serif;
  font-size: 3.5em;
  color: black;
  text-transform: uppercase;
}

.project-text:hover {
  text-decoration: underline;
  cursor: url("./asset/cursor.png"), pointer;
}

.demo:hover {
  cursor: url("./asset/demo-cursor.png"), pointer;
}

.github:hover {
  cursor: url("./asset/github-cursor.png"), pointer;
}

.project-picture {
  margin-left: 3vw;
  width: 49vw;
  border: 2px solid black;
}

/* case study */
.case-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10vh 0 10vh 0;
}

.case-text-container {
  width: 50%;
  padding: 2vw;
  padding-top: 10vh;
}

.case-text-container h1 {
  font-family: 'Staatliches', cursive;
  font-weight: 100;
  font-size: 2em;
  text-align: center;
}

.case-info-container {
  padding: 2vw;
  padding-top: 5vh;
}

.case-info-container p {
  font-family: "Swiss", serif;
  text-decoration: uppercase;
  font-size: 1.5em;
  padding: 3vh 0 3vh 0;
  border-top: 3px solid #0B4619;
  color: #0B4619;
}

.case-img {
  width: 40vw;
}

.bold {
  font-family: 'Staatliches', cursive !important;
  font-size: 2em !important;
  border-top: none !important;
}

/* writings */
.accordion-title a {
  text-decoration: none;
  color: #0B4619;
}

/* blog */
.blog-container {
  margin: 10vh 5vw 20vh 5vw;
  min-height: 60vh;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
}

.blog-container div {
  border: 3px solid #0B4619;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-container a {
  text-decoration: none;
  color: black;
  font-family: 'Staatliches', cursive;
  font-size: 2em;
  padding: 2vw;
}

.blog-container a p {
  text-align: center;
  color: #0B4619;
}

/* Sweep To Right */
.sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F9F8F8;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sweep-to-right a p:hover, .sweep-to-right a p:focus, .sweep-to-right a p:active {
  color: black;
  transform: scale(1.1);
}
.sweep-to-right:hover:before, .sweep-to-right:focus:before, .sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* articles */
.article-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

/* contact me */
.contact-container {
  margin-top: 5vh;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2vh 7vw 10vh;
}

.link-container a {
  text-decoration: none;
  font-family: "Swiss", serif;
  color: black;
  line-height: 1.5em;
  font-size: 5em;
}

.link-container a:hover {
  text-decoration: underline dashed;
}

.link {
  text-align: center;
  color: #0B4619;
  font-family: 'Staatliches', cursive;
  text-decoration: none;
  font-size: 10em;
  text-align: center;
  margin-left: 5vw;
  border-right: 0.1em solid #0B4619;
}

.link:hover {
  text-decoration: underline dashed;
}

/* footer */
.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #0B4619;
  height: 6.97084917617237vh;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Swiss", serif;
  color: #FFFFFF;
  font-size: 1.6666666666666667vw;
  text-transform: uppercase;
}

.design-by {
  margin-left: 1.7361111111111112vw;
}

.copyright {
  margin-right: 1.7361111111111112vw;
}

/* text color */
.title-word {
  animation: color-animation 4s linear infinite;
  --color-1: #0E3EDA;
  --color-2: #F15152;
  --color-3: #559CAD;
}

@keyframes color-animation {
  0% {
    color: var(--color-1)
  }

  32% {
    color: var(--color-1)
  }

  33% {
    color: var(--color-2)
  }

  65% {
    color: var(--color-2)
  }

  66% {
    color: var(--color-3)
  }

  99% {
    color: var(--color-3)
  }

  100% {
    color: var(--color-1)
  }
}

/* responsive design */
@media only screen and (max-width: 600px) {
  body {
    background: url("./asset/mobile-bg.png");
  }

  .logo-text {
    font-size: 1.5rem;
  }

  .nav-link-container {
    left: 75vw;
    position: absolute;
  }

  .nav-link-container a {
    font-size: 1rem;
  }

  /* home */
  .intro-container {
    margin: 0;
    margin-top: 10vh;
    font-size: 2rem;
    margin-left: 5vw;
  }

  /* about me */
  .logo-links {
    font-size: 1rem;
  }

  .about-text {
    font-size: 1.5rem;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }

  .accordion-title {
    font-size: 1rem !important;
    padding-right: 5vw;
  }

  .expanded-icon {
    font-size: 1rem !important;
  }

  .accordion-item-text {
    font-size: 0.8rem !important;
    width: 60vw !important;
  }

  /* projects */
  .project-container {
    padding: 0 0 5vh 0;
    margin: 0;

  }

  .project-item-container {
    flex-direction: column;
    padding: 5vh 0 5vh 0;
  }

  .project-item-container a {
    font-size: 1rem;
  }

  .project-description {
    text-align: center;
  }

  .project-tech {
    font-size: 0.8rem;
    text-align: center;
  }

  .project-picture {
    margin: 0;
  }

  /* case study */
  .disappear {
    display: none;
  }

  .case-text-container {
    padding: 0;
    width: 80%;
  }

  .case-text-container h1 {
    font-size: 1rem;
  }

  .case-info-container p {
    font-size: 0.7rem;
  }

  .bold {
    font-size: 1rem !important;
  }

  /* writings */
  .writings {
    margin-top: 5vh;
  }

  /* blog */
  .blog-container {
    grid-template-columns: 1fr;
  }

  .article-container img {
    width: 90vw;
  }

  /* contact */
  .contact-container {
    margin-top: 30vh;
  }

  .link {
    font-size: 3rem;
  }

  .link-container a {
    font-size: 3rem;
  }
}